<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>
    <form action="/adduser" method="POST">
      {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
      </div>
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group col-md-4">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" placeholder="Enter age">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="mt-4">
    <h3>Dashboard Table</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody id="dashboardTableBody">
      {% for user in mydata %}
      <tr>
          <td >{{user.name }}</td>
          <td >{{user.email }}</td>
          <td >{{user.age}}</td>
          <td>
              <a href="/edituser/{{ user.id }}/" type="button" class="btn btn-outline-warning">edit</a>
          </td>
          <td>
              <a href="/deleteuser/{{ user.id }}/" type="button" class="btn-outline-danger">delete</a>
          </td>
        </tr>
      {% endfor %}
        <!-- Table content will be dynamically added here -->
      </tbody>
    </table>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
